<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<body>
    <div th:fragment="commentNode(node, bookId)"
         class="comment"
         th:if="${node != null and node.comment != null}"
         th:attr="data-comment-id=${node.comment.id}">

        <div class="comment__body"
             th:with="isBookAuthor=
             ${node.comment.user != null and
              bookAuthorUserIds != null and
               bookAuthorUserIds.contains(node.comment.user.id)}">

            <div class="comment__meta">
                <span class="comment__author"
                      th:text="${node.comment.user != null ? node.comment.user.nickname : 'Гость'}"></span>
                <span th:if="${node.comment.user != null}"
                      th:replace="~{fragments/role-badge :: roleBadge(${node.comment.user.role}, ${isBookAuthor})}"></span>
                <span class="comment__date"
                      th:text="${#temporals.format(node.comment.createdAt, 'dd.MM.yyyy HH:mm')}"></span>
            </div>
            <p class="comment__text"
                th:if="${node.comment.deleted}"
                th:text="'[комментарий удалён]'">
            </p>
            <p class="class__text"
               th:unless="${node.comment.deleted}"
               th:text="${node.comment.text}"></p>
            <button type="button"
                    class="comment__reply-btn"
                    sec:authorize="isAuthenticated()"
                    th:unless="${node.comment.deleted}">
                Ответить
            </button>

            <form th:action="@{/books/{id}/comments(id=${bookId})}"
                  class="comment__reply-form"
                  sec:authorize="isAuthenticated()"
                  method="post">
                <input th:if="${_csrf}" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" name="parentId" th:value="${node.comment.id}"/>
                <textarea name="text" class="comment__reply-input" placeholder="Что скажем?" required></textarea>
                <button type="submit" class="comment__reply-submit">Опозориться</button>
            </form>
        </div>

        <div class="comment__replies" th:if="${!node.replies.isEmpty() and node.replies != null}">
            <div th:each="reply : ${node.replies}">
                <div th:replace="~{fragments/comment :: commentNode(${reply}, ${bookId})}"></div>
            </div>
        </div>
    </div>
</body>
</html>