<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сервер шутит</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/error.css}">
</head>
<body>
<div class="error-page">
    <div class="error-page__content">
        <h1 class="error-page__status" th:text="${status}"></h1>
        <h2 class="error-page__quotation">
            У меня есть разум; Всё пропало разом
        </h2>
        <p class="error-page__message">Ошибка на стороне сервера.</p>
        <p class="error-page__message" th:text="${message}"></p>
        <a th:href="@{/}" class="avg-btn">Домой</a>
    </div>
    <div class="error-page__img">
        <img style="max-height: 100vh" th:src="@{../img/5xx.png}" alt="">
    </div>
</div>
</body>
</html>