<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>О нас — Бобёр</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/listing.css}">
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
    <script th:src="@{/js/header.js}" defer></script>
</head>
<body>
<div class="page">
    <header th:replace="~{fragments/layout::header(hero=false)}"></header>

    <div class="about__chapter">
        <h1 class="about__title">Кто мы?</h1>
        <p class="about__text">
            <span class="about__logo">БОБЁР</span> - не просто логотип в уголке тетрадки с рассказами двух
            колутонских школьников.
            Это объединение <span>великих авторов</span>. Это огромный лор, выходящий за школьные парты
            и тетрадные листки. <span class="about__logo">БОБЁР</span> не является полноценным зарегестрированным
            издательством, дистрибьютором и т.д.
            Философия, шутки и творчество - это про нас.
        </p>
    </div>

    <div class="about__chapter">
        <h1 class="about__title">История</h1>
        <p class="about__text">
            Примерно с 2018 года мы рисовали разных персонажей в ДНЕВНИКАХ ТИГРА и придумывали им целые истории. В 2022
            году начали писать
            полноценные рассказы, пьесы и даже романы. В этом же году мы начали помечать каждый опус логотипом
            издательства.
            <span class="about__logo">БОБЁР</span> стал плотно закрепившимся локальным...
            даже больше чем мемом.
        </p>
    </div>

    <div class="about__chapter">
        <h1 class="about__title">Что тебе в имени моем?</h1>
        <p class="about__text">
            Смысла в названии не ищите, БОБЁР есть БОБЁР.
        </p>
    </div>

    <footer th:replace="~{fragments/layout::footer(hero=false)}"></footer>
</div>
</body>
</html>