<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторы</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/header.js}" defer></script>
</head>
<body>
    <div class="authors-listing__page">
        <header th:replace="~{fragments/layout::header(hero=false)}"></header>
        <div class="authors-listing__title">
            <h1>Наши величайшие авторы</h1>
            <h2>А.С.Пушкин, Ф.М.Достоевский, Абай Кунанбаев, Оскар Уайльд</h2>
            <h3>Все эти имена... <span>никак не связаны с нашим издательством(</span></h3>
        </div>
        <div class="authors-listing__table">
            <table class="common__table">
                <thead class="common__thead">
                    <tr>
                        <td>Имя</td>
                        <td>Возраст</td>
                    </tr>
                </thead>
                <tbody class="common_tbody">
                    <tr th:each="author: ${authors}" class="common__tbody_row">
                        <td class="common__tbody_item">
                            <a th:text="${author.firstName} + ' ' + ${author.lastName}"
                               th:href="@{/authors/{id}(id=${author.id})}"
                               class="table-link"
                            >
                            </a>
                        </td>
                        <td th:text="${author.getAge()}" class="common__tbody_item"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer th:replace="~{fragments/layout::footer}"></footer>
    </div>
</body>
</html>