<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${author.firstName} + ' ' + ${author.lastName}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/listing.css}">
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">

    <script th:src="@{/js/header.js}" defer></script>
</head>
<body>
<div class="page">
    <header th:replace="~{fragments/layout::header(hero=false)}"></header>
    <div class="author-detail">
        <div class="author-detail__avatar"
             th:text="${#strings.substring(author.firstName, 0, 1)}"></div>

        <div>
            <h1 class="author-detail__name"
                th:text="${author.firstName + ' ' + (author.lastName ?: '')}"></h1>

            <p class="author-detail__bio" th:if="${author.bio}" th:text="${author.bio}"></p>

            <div class="author-detail__stats">
                    <span>
                        <strong th:text="${booksAmount + ' ' + author.getWordCase(booksAmount)}"></strong>
                    </span>
                <span th:if="${author.birthDate != null}">
                        <strong th:text="${author.getAge()}"></strong> лет
                    </span>
            </div>

            <div class="author__subscribe">
                <form th:action="@{/authors/{id}/subscribe(id=${author.id})}"
                      method="post"
                      class="author__subscribe-form">
                    <input th:if="${_csrf}" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button type="submit" class="author__subscribe-button"
                            th:classappend="${isSubscribed ? 'is-subscribed' : ''}">
                        <p class="author__subscribe-button-text"
                           th:text="${isSubscribed} ? 'Вы подписаны' : 'Подписаться'">Подписаться</p>
                        <p class="author__subscribe-button-counter" th:text="${subscribersCount}">0</p>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <h1 class="section-label">Великие творения великого автора</h1>

    <div class="books-grid">
        <a th:each="book: ${author.books}"
           th:href="@{/books/{id}(id=${book.id})}"
           class="book-card">
            <div class="book-card__cover">
                <img th:if="${book.coverPath}"
                     th:src="@{/files/{path}(path=${book.coverPath})}"
                     th:alt="${book.title}"
                     class="book-cover-img" />
                <!-- default cover will be designed soon -->
                <img th:unless="${book.coverPath}"
                     th:src="@{/img/default-cover.png}"
                     alt="No cover"
                     class="book-cover-img" />
            </div>
            <p class="book-card__title" th:text="${book.title}"></p>
        </a>
    </div>
    <footer th:replace="~{fragments/layout::footer(hero=false)}"></footer>
</div>
</body>
</html>