<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Books</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div class="books-listening__page">
        <header th:replace="~{fragments/layout::header}"></header>
        <div class="books-listing__page">
            <table class="common__table">
                <thead class="common__thead">
                <tr>
                    <th>Название</th>
                    <th>Автор</th>
                    <th>Год издания</th>
                </tr>
                </thead>
                <tbody class="common__tbody">
                <tr th:each="book : ${books}">
                    <td>
                        <a th:href="@{/books/{id}(id=${book.id})}"
                           th:text="${book.title}"
                           class="table-link"
                        >
                        </a>
                    </td>
                    <td class="common__tbody_item">
                        <a th:each="author, iter : ${book.authors}"
                           th:text="${author.firstName} + ' ' + ${author.lastName ?: ''} + (${iter.last} ? '' : ', ')"
                           th:href="@{/authors/{id}(id=${author.id})}"
                           class="table-link"
                        >
                        </a>
                    </td>
                    <td th:text="${book.year}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer th:replace="~{fragments/layout::footer}"></footer>
    </div>
</body>
</html>