<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Books</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/listing.css}">

    <script th:src="@{/js/header.js}" defer></script>
</head>
<body>
<div class="page">
    <header th:replace="~{fragments/layout :: header(hero=false)}"></header>

    <h1 class="page__title">Книги</h1>

    <div class="search-bar">
        <form th:action="@{/books}" method="get">
            <input type="text"
                   class="search-bar__input"
                   placeholder="Найти книги"
                   name="title"
                   th:value="${title}">
            <input type="hidden" name="genre" th:value="${genre}">
            <input type="hidden" name="sort" th:value="${sort}">

            <button type="submit" class="search-bar__submit">Ехала!</button>

            <a th:if="${title != null and !title.isBlank()}"
               th:href="@{/books(genre=${genre}, sort=${sort})}"
               class="search-bar__reset">Сбросить</a>
        </form>
    </div>

    <div class="genre-tabs">
        <a th:href="@{/books(title=${title}, genre = 'all', sort=${sort})}"
           class="genre-tab" th:classappend="${genre == 'all'} ? 'is-active'">Все</a>
        <a th:each="g : ${genres}"
           th:href="@{/books(title=${title}, genre=${g}, sort=${sort})}"
           th:text="${g}"
           class="genre-tab" th:classappend="${genre == g} ? 'is-active'"></a>
    </div>

    <div class="sort-tabs">
        <a th:href="@{/books(title=${title}, genre=${genre}, sort='newest')}"
           class="sort-tab" th:classappend="${sort == 'newest'} ? 'is-active'">Сначала новые</a>
        <a th:href="@{/books(title=${title}, genre=${genre}, sort='title')}"
           class="sort-tab" th:classappend="${sort == 'title'} ? 'is-active'">По названию</a>
        <a th:href="@{/books(title=${title}, genre=${genre}, sort='year')}"
           class="sort-tab" th:classappend="${sort == 'year'} ? 'is-active'">По году</a>
    </div>

    <div class="books-grid">
        <a      th:each="book: ${books}"
                th:href="@{/books/{id}(id=${book.id})}"
                class="book-card"
                th:attr="data-genre=${book.genre}">
            <div class="book-card__cover"></div>
            <p class="book-card__title" th:text="${book.title}"></p>
            <p class="book-card__authors">
                    <span th:each="author, iter: ${book.authors}">
                        <span th:text="${author.firstName} + ' ' + ${author.lastName ?: ''}"></span><span th:if="${!iter.last}">,</span>
                    </span>
            </p>
            <p class="book-card__year" th:text="${book.year}"></p>
        </a>
    </div>
    <footer th:replace="~{fragments/layout::footer(hero=false)}"></footer>
</div>

</body>
</html>