<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бобёр - великое издательство</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3/dist/ScrollSmoother.min.js"></script>


    <script th:src="@{/js/index.js}" defer></script>
</head>
<body>
    <div class="wrapper">
        <div class="content">
            <div class="main-header">
                <div class="layers">
                    <div class="layer__header">
                        <div class="layers__caption">
<!--                            <img th:src="@{/img/bober-whitish.png}" alt="бобр лого" style="-->
<!--                                max-height: 150px;-->
<!--                                width: auto;-->
<!--                            " class="clean_logo">-->
                            <img th:src="@{/img/light_bober.png}" alt="бобр лого газ" style="
                                max-height: 150px;
                                width: auto;
                            " class="logo_overlay">
                        </div>
                        <div class="layers__title">
                            est. 2022
                        </div>
                    </div>
                    <div class="layer layers__base"
                         th:style="'background-image: url(' + @{/img/back-bober.png} + ')'">
                    </div>
                    <div class="layer layers__middle"
                         th:style="'background-image: url(' + @{/img/mid-bober.png} + ')'">
                    </div>
                    <div class="layer layers__front"
                         th:style="'background-image: url(' + @{/img/front-bober.png} + ')'">
                    </div>
                </div>
            </div>
            <div class="main-article" th:style=" 'background-image: url(' + @{/img/van_gog.jpeg} + ')' ">
                <div class="main-article__content">
                    <h2 class="main-article__header">Великое издательство</h2>
                    <p class="main-article__paragraph">Стасус. Известность. Бобёр.</p>
                    <a th:href="@{/books}" class="avg-btn">К книгам!</a>
                </div>
                <footer class="footer">
                    <div class="footer__logo">
                        BOBER PUBLISHING
                    </div>
                    <div class="footer__authors">
                        &copy; Dmitriy Rochshupkin & Khamzat Akayev, 2022-2026
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>
</html>